
{% extends 'events/base.html' %}

{% block content %}

{% if user.is_authenticated %}
  <h1>Add a New Event</h1>
  <br><br>
  {% if submitted %}
  Your Event is Successfully Submited!!!
  {% else %}
  
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Submit" class="btn btn-secondary">
</form>

{% endif %}
{% else %}
<h1>
  Sorry, You must be logged in to view This Page...
</h1>
<a href="{% url 'login' %}">Login Here</a>

{% endif %}
{% endblock %}